ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  min-height: 18em;
}

.carousel__viewport {
  position: absolute;
  display: flex;
  width: 100%;
  overflow-x: scroll; 
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}

.carousel__slide:before {
  position: absolute;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  width: 100vw;
}

/* btn controlers */
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  margin-top: 37.5%;
  border-radius: 50%;
  background-color: #fff;
  font-size: 0;
  padding: 15px;
}

.img-item-slider {
  width: 100%;
  margin: auto;
}

.carousel::before,
.carousel__prev {
  left: 1.2rem;
}

.carousel::after,
.carousel__next {
  right: 1.2rem;
}

.carousel::before,
.carousel::after {
  z-index: 1;
}

.carousel__navigation {
  position: absolute;
  display: none;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
}


/* MEDIA QUERIES */
@media (min-width: 320px) {
  .carousel {
    min-height: 20em;
  }
}

@media (min-width: 360px) {
  .carousel {
    min-height: 24em;
  }
}

@media (min-width: 430px) {
  .carousel {
    min-height: 29em;
  }
}

@media (min-width: 510px) {
  .carousel {
    min-height: 35em;
  }
}

@media (min-width: 600px) {
  .carousel {
    min-height: 42em;
  }
}

@media (min-width: 710px) {
  .carousel {
    min-height: 47em;
  }
}

@media (min-width: 795px) {
  .carousel {
    min-height: 53em;
  }
}

@media (min-width: 893px) {
  .carousel {
    min-height: 60em;
  }
}

@media (min-width: 1010px) {
  .carousel {
    min-height: 67em;
  }
}

@media (min-width: 1120px) {
  .carousel {
    min-height: 75em;
  }
}

@media (min-width: 1244px) {
  .carousel {
    min-height: 83em;
  }
}

@media (min-width: 1355px) {
  .carousel {
    min-height: 88em;
  }
}


/* laptop */
@media (min-width: 1440px) {
  .carousel__prev, .carousel__next {
    display: none;
  }

  .carousel {
    width: 50%;
    min-height: 0;
  }

  .carousel__viewport {
    overflow: hidden;
  }

  .carousel__snapper {
    width: 100%;
  }

  .img-item-slider {
    margin: 0 auto;
    padding: 20px;
    height: 600px;
    border-radius: 40px;
  }

  .carousel__navigation {
    display: block;
    position: absolute;
    right: 0;
    top: 620px;
    left: 0;
    text-align: center;
  }

  .carousel__navigation-list {
    display: flex;
    justify-content: center;
  }
  
  .carousel__navigation-item {
    display: inline;
    width: 50%;
  }

  .carousel__navigation-button {
    display: inline-block;
  }

  .img-item-controlers {
    width: 70%;
    border-radius: 10px;
  }

  .img-item-controlers:hover {
    border: 3px solid var(--primary-orange);
    opacity: .5;
  }
}