@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './nav.css';
@import './carousel.css';
@import './informative.css';

:root {
  --primary-orange: #FF7D1A;
  --primary-pale-orange: #FFEDE0;
  --neutral-very-dark-blue: #1D2025;
  --neutral-dark-grayish-blue: #68707D;
  --neutral-grayish-blue: #B6BCC8;
  --neutral-light-grayish-blue: #F7F8FD;
  --neutral-white: #FFFFFF;
  --neutral-black: #000000;
  --neutral-black-focus: #BFBFBF;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* scrollbar-color: transparent transparent;
  scrollbar-width: 0px; */
}

/* *::-webkit-scrollbar {
  width: 0;
} */

/* *::-webkit-scrollbar-track {
  background: transparent;
} */

/* *::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
} */

/* * {
  -ms-overflow-style: none;
} */



body, html {
  font-family: 'Roboto', 'sans-serif';
  /* padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow:hidden; */
}

@media (min-width: 1440px) {
  body {
    width: 85%;
    margin: auto;
  }

  main {
    width: 80vw;
    margin: 20px auto;
  }
}

