/* nav */
nav { 
  margin: 10px 5px 0 5px;
  padding-bottom: 10px;
  border-style: none none solid none;
  border-color: var(--neutral-black-focus);
  border-width: 0.5px;
}

ul { 
  list-style-type: none;
}

li { 
  color: var(--neutral-dark-grayish-blue);
  text-decoration: none; 
}

li:hover { 
  color: var(--primary-orange);
}

button {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}

.menu li { 
  font-weight: 400;
  padding-top: 10px;
  white-space: nowrap; 
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.toggle { 
  order: 0; 
  /* text-align: right;  */
  padding: 0 10px 0 20px;
}

.logo{
  /* order: 1;  */
  flex: 1; 
}

.item.button { 
  order: 2; 
  display: block;
  width: auto;
  margin-right: 10px;
}

li:last-child { 
  margin-right: 20px;
}

.item { 
  width: 100%;
  text-align: center;
  order: 3;
  display: none; 
}

.item.active { 
  display: block; 
}

.avatar-img{
  width: 30px;
}

/* nav queries */
@media (min-width: 1440px) {
  .toggle { 
    display: none; 
  }

  .menu{
    display: grid;
    grid-template-columns: 200px repeat(5, 100px) repeat(2, 70px);
    grid-auto-columns: 50px;
    align-items: center;
    align-content: center; 
    justify-content: start; 
  }

  .item { 
    display: grid;
  }

  .item.button { 
    margin: 0;
    order: 3;
  }

  .cart-btn {
    grid-column: 12 / 13;
  }

  .avatar-btn {
    grid-column: 13 / 14;
  }

  .avatar-img {
    width: 40px;
  }
}